
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    background-color: black;
}

#play:hover{
    cursor: pointer;
}
.options{
    width: 20em;
    border: 0px;
    text-align: center;
    margin: 4px;
    padding: 20px;
    border-radius: 80px;

}
img{
    border-radius: 50%;
   
}
#play, .gameOver{
    padding: 20px;
    background-color: white;
    width: 100px;
    text-align: center;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 45%;
}

.options:hover, .start:hover{
    cursor: pointer;
}
.start{
    padding: 20px;
    background-color: white;
    width: 100px;
    color: black;
    text-align: center;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80%;
    left: 45%;
}
